
@media screen and (min-width: 760px) {

  .col {
    float: left;
    padding-right: $u;
    &:last-of-type {
      padding-right: 0;
    }
  }

  .col.half {
    width: 50%;
  }

  .col.third {
    width: 33.33%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
