
p {
  margin: 0 0 $u;
  max-width: $base-width;
}

.p-lead {
    font-size: $large-font-size;
    font-weight: normal;
}

.txt-light {
  color: $gray;
  font-weight: normal;
}

pre {
  margin: $u 0;
}
